.git
.gitignore
.dockerignore
.DS_Store
venv/
node_modules/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
uploads/*
!uploads/.gitkeep
docker/
drawio/
image*.png
yolov5su.pt
