# ==============================
# REQUIRED FOR HEAD Generator APPLICATION
# ==============================

Flask>=3.0.0
Flask-Cors>=4.0.2
Flask-Uploads==0.2.1
python-dotenv
openai
requests
Django>=5.0,<5.3
gunicorn>=22.0
psycopg[binary]>=3.1
whitenoise>=6.6

numpy>=1.26.0
pillow
opencv-python-headless
google-generativeai

# ultralytics


# ==============================
# TENSORFLOW ECOSYSTEM (DISABLED) until we get some space
# ==============================

#absl-py
#astunparse
#flatbuffers
#gast
#google-pasta
#grpcio
#h5py
#keras
#libclang
#ml_dtypes
#opt_einsum
#tensorboard
#tensorboard-data-server
#tensorflow>=2.16.0
#termcolor
#wrapt


# ==============================
# OTHER AUTO-INSTALLED DEPENDENCIES
# ==============================

#blinker>=1.7.0
#certifi
#charset-normalizer
#click
#idna
#itsdangerous
#Jinja2
#Markdown
#markdown-it-py
#MarkupSafe
#mdurl
#namex
#optree
#packaging
#protobuf
#Pygments
#requests
#rich
#setuptools
#six
#typing_extensions
#Werkzeug
#wheel
