absl-py
astunparse
blinker>=1.7.0
certifi
charset-normalizer
click
Flask>=3.0.0
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy>=1.26.0
opt_einsum
optree
packaging
pillow
protobuf
Pygments
requests
rich
setuptools
six
tensorboard
tensorboard-data-server
tensorflow>=2.16.0
termcolor
typing_extensions
Werkzeug
wheel
wrapt
Flask-Uploads==0.2.1  # For handling file uploads with Flask (if necessary)
Flask-Cors>=4.0.2 # For handling CORS in Flask applications
openai
python-dotenv
opencv-python-headless
ultralytics
